absl-py
astunparse
attrs
backcall
bleach
cachetools
certifi
chardet
click
colorama
cycler
decorator
defusedxml
entrypoints
Flask
Flask-Cors
gast
geojson
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
jsonify==0.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.4
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandas-datareader
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
wrapt
zipp
